* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
    color: black;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper {
    max-width: 1200px;
    margin: 0px auto;
}
/* .debug{
    border: 1px solid red;
} */
main{
    min-width: 400px;
}
h1{
    color: #E53170;
    text-align: center;
    padding: 10px;
    min-width: 100%;
}
#text-only{
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
}
h2{
    color: white;
    padding: 5px 0;
    display: inline-block;
    font-size: 1em;
}
.container{
    margin: 45px;
    min-width: 30%;
    padding: 2%;
}
.box{
    background-color: #0F0E17;
    color: white;
    max-width: 100%;
    max-height: 100px;
    margin: 25px 15px;
    min-width: 300px;
    width: calc(100% / 6);
    display: inline-block;
    box-shadow: 1px 1px 5px black;
}
.email{
    color: #4ECAF4;
    text-overflow: clip;
}
img{
    margin-right: 10px;
    max-width:90px;
    vertical-align:middle;
}
.pull-left{
    float: left;
}
p{
    margin-bottom: 5px;
}
