* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
    color: black;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper {
    max-width: 1200px;
    margin: 0px auto;
}
.debug{
    border: 1px solid green;
}
h1{
    color: #E53170;
    text-align: center;
    padding: 2%;
}
#text-only{
    text-align: center;
    padding: 2%;
    margin-bottom: 10%;
}
h2{
    color: white;
    margin-bottom: 3px;
    display: inline-block;
}
.container{
    width: calc(100% / 3);
}
.team{
    background-color: #0F0E17;
    color: white;
}
.email{
    color: #4ECAF4;
}
img{
    width: 80px;
    margin-right: 5px;
}
.pull-left{
    float: left;
}
p{
    margin-bottom: 3px;
}